.main-dashboard {
  padding: 1em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-dashboard__container--Kpis {
  padding: 2em 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2.8em;
}

.main-dashboard__container--reviews {
  padding: 3em 3em 6em 3em;
  border-radius: 20px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2.8em;
  background-color: #ffffff;
}

.main-dashboard__container--reviews__title {
  color: #393939;
  font-size: 2rem;
  font-weight: 600;
}

.main-dashboard__container--reviews__box-card {
  display: flex;
  overflow: hidden;
  gap: 2em;
  justify-content: space-between;
}
